@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@font-face {
    font-family: 'Nexa';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Nexa Bold.otf') format('opentype');
}

body {
    background-color: black;
    font-family:'Open Sans', sans-serif;
    color: #f2f2f2;
    font-size: 22px;
    margin: 20px;
}
header {
    font-family: Nexa, sans-serif;
    color: #07b1ff;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 5px;
}
header .yellow {
    color: #f9f81a;
}

h1 {
    font-size: 3em;
    font-family: Nexa, sans-serif;
    color: #6161f5;
    margin: 0 0 10px 0;
}
date {
    font-family: Nexa, sans-serif;
    background-color: #FC8BCC;
    padding: 10px;
    padding-bottom: 7px;
}
date.today {
  background-color: deeppink;
}

album {
    display: block;
}
album img {
    width: 400px;
}
album h2 {
    font-size: 1.2em;
    font-family: Nexa, sans-serif;
    margin: 0;
    background-color: #07b1ff;
    padding: 5px;
}