@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@font-face {
    font-family: 'Nexa';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Nexa Bold.otf') format('opentype');
}

body {
    background-color: black;
    font-family:'Open Sans', sans-serif;
    color: #f2f2f2;
    font-size: 22px;
    margin: 20px;
}
header {
    font-family: Nexa, sans-serif;
    color: #07b1ff;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 5px;
}
header .yellow {
    color: #f9f81a;
}

h1 {
    font-size: 3em;
    font-family: Nexa, sans-serif;
    color: #6161f5;
    margin: 0 0 10px 0;
}
date {
    font-family: Nexa, sans-serif;
    background-color: #FC8BCC;
    padding: 10px;
    padding-bottom: 7px;
}
date.today {
  background-color: deeppink;
}

.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
album {
    display: block;
    background-color: #07b1ff;
    font-family: Nexa, sans-serif;
}
album a {
    text-decoration: none;
    transition: opacity 0.3s;
}
album a:hover {
    opacity: 0.7;
}
album img {
    display: block;
    object-fit: cover;
    width: 100%;
}
album h2 {
    font-size: 1.2em;
    margin: 0;
    color: #f2f2f2;
    padding: 5px;
}
album h3 {
    font-size: 0.8em;
    margin: 0;
    color: #363636;
    padding: 1px 5px;
}


@media screen and (max-width: 1040px) {
    .list {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 640px) {
    header {
        font-size: 75px;
    }
    .list {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 440px) {
    header {
        font-size: 70px;
        letter-spacing: normal;
    }
}