.calendar {
    display: grid;
    grid-template-columns: repeat(7, minmax(30px, 1fr));
    gap: 10px;
    direction: rtl;
}
.header {
    position: sticky;
    position: -webkit-sticky;
    display: block;
    top: 10px;
    margin-bottom: 20px;
    font-size: 40px;
    text-align: center;
    background-color: #1c1c21;
    color: deeppink;
    z-index: 5;
}
.header .button {
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s opacity;
}
.header .button:hover {
    opacity: 1;
}
.weekdays {
    display: grid;
    grid-template-columns: repeat(7, minmax(30px, 1fr));
    gap: 10px;
    margin-bottom: 10px;
}
.weekday {
    text-align: center;
    color: #aaa;
}
.day {
    position: relative;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    aspect-ratio: 1;
    transition: 0.3s ease-in transform;
    direction: ltr;
}
.day:not(.empty, .disable) {
    cursor: zoom-in;
}
.day.hovered {
    cursor: zoom-out;
    transform: scale(2);
    z-index: 6;
}
.day:nth-child(7n) {
    transform-origin: left;
}
.day:nth-child(7n-6) {
    transform-origin: right;
}
.day.disable {
    opacity: 0.1;
}
.day.empty {
    opacity: 0.3;
}
.day .date {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: deeppink;
    padding: 5px;
    padding-bottom: 2px;
    border-radius: 5px;
    transition: 0.3s opacity;
    z-index: 3;
}
.day .date.invisible {
    opacity: 0;
}
.day .cover {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    -webkit-mask: url(/cover.svg) no-repeat 100% 100%;
    mask: url(/cover.svg) no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: #f9f81a;
    transition: 0.3s opacity;
    opacity: 0.7;
    cursor: pointer;
    z-index: 3;
}
.day .cover.show {
    opacity: 0.3;
}
.day .album {
    position: relative;
}
.day .album .description {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    transition: 0.3s opacity;
}
.day .album .description.invisible {
    opacity: 0;
    visibility: hidden;
}
.day .album a {
    display: block;
    margin-bottom: 3px;
    text-decoration: none;
    color: #f2f2f2;
}
.day .album h2 {
    background-color: rgba(0,0,0,0.4);
    margin: 0;
    font-size: 20px;
    transition: 0.3s ease-in background-color;
}
.day .album h2:hover {
    background-color: rgba(0,0,0,0.9);
}
.day .album .genre, .day .album .country, .day .album .single {
    display: inline-block;
    padding: 5px;
    padding-bottom: 2px;
    margin: 0 2px 3px 2px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #6161f5;
    color: rgba(0,0,0,0.6);
}
.day .album .genre.post_hardcore {
    background-color: #ff4c07;
}
.day .album .genre.metalcore {
    background-color: #ff075a;
}
.day .album .genre.deathcore {
    background-color: #b13000;
}
.day .album .genre.electronic {
    background-color: #61f595;
}
.day .album .country {
    background-color: #07b1ff;
}
.day .album .single {
    background-color: rgba(248, 9, 9, 0.7);
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.7);
}

.albums_container {
    position: absolute;
    inset: 0;
}
.albums_container .count {
    position: absolute;
    top: 10px;
    right: 50px;
    padding: 5px;
    padding-bottom: 2px;
    border-radius: 5px;
    background-color: #eee;
    transition: 0.3s opacity;
    color: #222;
    z-index: 1;
}
.albums_container .count.invisible {
    opacity: 0;
}
.albums_container .count span {
    font-size: 14px;
    color: #777;
}
.albums_container .button {
    position: absolute;
    top: 30%;
    font-size: 60px;
    -webkit-text-stroke: 2px black;
    padding: 5px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s opacity;
    z-index: 2;
}
.albums_container .button:hover {
    opacity: 1;
}
.albums_container .button.right {
    right: 0;
}
.albums_container .button.invisible {
    display: none;
}
.albums {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: row;
    transition: 0.3s ease-in transform;
}

@media only screen and (max-width: 1200px) {
    .header {
        font-size: 30px;
    }
    .weekdays {
        display: none;
    }
    .calendar {
        grid-template-columns: repeat(4, minmax(30px, 1fr));
        direction: ltr;
    }
    .day.disable, .day.empty {
        display: none;
    }
    .day {
        cursor: default;
    }
    .day.hovered {
        transform: scale(1);
    }
}

@media only screen and (max-width: 992px) {
    .calendar {
        grid-template-columns: repeat(3, minmax(30px, 1fr));
    }
}

@media only screen and (max-width: 768px) {
    .calendar {
        grid-template-columns: repeat(2, minmax(30px, 1fr));
    }
}

@media only screen and (max-width: 576px) {
    .calendar {
        grid-template-columns: 1fr;
    }
}